<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
    <!--Brand/logo-->
    <a class="navbar-brand">
        <img id="logo" alt="Logo" src="TradeLeague-1 (7).png" />
    </a>

    <!--Links-->
    <ul class="navbar-nav" style="font-size:18px">
        <!--Homepage-->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/">  &nbsp;&nbsp;Home</a>
        </li>
        <!--Create user-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/createuser">  &nbsp;&nbsp;Create User</a>
        </li>
        <!--Create company-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/createcompany">  &nbsp;&nbsp;Create Company</a>
        </li>
        <!--Swappage-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/swappage">  &nbsp;&nbsp;Swap account</a>
        </li>
        <!--Company list-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/companies">  &nbsp;&nbsp;Companies</a>
        </li>
        <!--Leaderboard-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/leaderboard">  &nbsp;&nbsp;Leaderboard</a>
        </li>
    </ul>
    <!--Profilepage-->
    <ul class="navbar-nav ml-auto" style="font-size:18px">
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile"><i class="fa fa-user-circle"></i>    Profile</a>
        </li>
    </ul>
</nav>
<br/>