<div class="main" style="margin-bottom:25vh">
    <!--Div listing all companies-->
    <div class="container card bg-light">
        <br />
        <h1>List of all the active companies</h1>
        <br />
        <!--Searchbar results are retrieved from javascript function search()-->
        <input type="text" class="form-control" placeholder="Search for Company" id="searchbar">
        <!--Listing of all companies are retrieved from javascript function formatCompanies(companies)-->
        <table id='tableSort' class='table table-striped'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <!-- for loop to display all companies in a table, if you click on a company name you will be directed to company individual site-->
            <tbody *ngFor="let company of alleCompanies"> 
                <tr>
                    <td><a class="link-primary" (click)="goToCompany(company.name)">{{company.name}}</a></td>
                    <td>{{company.value}}$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />