<div class="container position-relative bg-dark">
    <!--Page-header row, consisting of two columns with dark backround colour-->
    <div class="row gy-5" style="padding-right:40px;padding-left:40px">
        <!--Column 1-->
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start text-white">
            <br />
            <h1 style="font-size:50px"><i><b><a style="color: #065fc7">Welcome</a></b> to the worlds best stock market game! </i></h1><br /><i>- self proclaimed</i>
            <br />
        </div>
        <!--Columns 2-->
        <div class="col-lg-6 order-1 order-lg-2">
            <br /><br />
            <img src="xconvert.com.png" class="img-fluid" />
        </div>
    </div>
</div>

<!--The 6 cards-->
<div class="icon-boxes position-relative">
    <div class="container position-relative">

        <!--For all the cards-->
        <div class="row mt-5" style="align-content:center;justify-content:center">

            <!--Card 1-->
            <div class="col-md-3 bg-dark card" style="margin-left:15px;margin-top:10px;text-align:center">
                <!--Routing-->
                <a class="box" routerLink="/companies">
                    <div class="icon-box">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-list-ol" style="font-size:50px;margin-top:20px;margin-bottom:30px">
                            </i>
                        </div>
                        <h4 class="title " style="margin-bottom:50px">
                            Check out the currently listed stock companies
                        </h4>
                    </div>
                </a>
            </div>

            <!--Card 2-->
            <div class="col-md-3 bg-dark card" style="margin-left: 15px; margin-top: 10px; text-align: center">
                <!--Routing-->
                <a class="box" routerLink="/leaderboard">
                    <div class="icon-box">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-trophy" style="font-size:50px;margin-top:20px;margin-bottom:30px">
                            </i>
                        </div>
                        <h4 class="title " style="margin-bottom:50px">
                            Check out who is on top of the leaderboard!
                        </h4>
                    </div>
                </a>
            </div>

            <!--Card 3-->
            <div class="col-md-3 bg-dark card" style="margin-left: 15px; margin-top: 10px; text-align: center">
                <!--Routing-->
                <a class="box" routerLink="/profile">
                    <div class="icon-box">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-user" style="font-size:50px;margin-top:20px;margin-bottom:30px">
                            </i>
                        </div>
                        <h4 class="title " style="margin-bottom:50px">
                            Visit your own profile to display your assets!
                        </h4>
                    </div>
                </a>
            </div>

            <!--Card 4-->
            <div class="col-md-3 bg-dark card" style="margin-left: 15px; margin-top: 10px; text-align: center">
                <!--Routing-->
                <a class="box" routerLink="/createuser">
                    <div class="icon-box">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-user-plus" style="font-size:50px;margin-top:20px;margin-bottom:30px">
                            </i>
                        </div>
                        <h4 class="title " style="margin-bottom:50px">
                            Create a new user!
                        </h4>
                    </div>
                </a>
            </div>

            <!--Card 5-->
            <div class="col-md-3 bg-dark card" style="margin-left: 15px; margin-top: 10px; text-align: center">
                <!--Routing-->
                <a class="box" routerLink="/createcompany">
                    <div class="icon-box">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-building-o" style="font-size:50px;margin-top:20px;margin-bottom:30px">
                            </i>
                        </div>
                        <h4 class="title" style="margin-bottom:50px">
                            Create a new Company!
                        </h4>
                    </div>
                </a>
            </div>

            <!--Card 6-->
            <div class="col-md-3 bg-dark card" style="margin-left: 15px; margin-top: 10px; text-align: center">
                <!--Routing-->
                <a class="box" routerLink="/login">
                    <div class="icon-box">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-sign-in" style="font-size:50px;margin-top:20px;margin-bottom:30px">
                            </i>
                        </div>
                        <h4 class="title " style="margin-bottom:50px">
                            Log-in!
                        </h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

<!--About US div -->
<div class="main container card bg-light" style="margin-bottom:23vh;font-size:20px;">
    <section id="About the site">
        <br />
        <!--Header-->
        <h1><b><i>ABOUT US</i></b></h1>
        <br />
        <p>
            This is a project created by <b>4 OSLOMET </b>students. The project is being excuted in the subject "ITPE3200-1 22H" and currently displayed is our Part 1 + Part 2 submission.
            <br />
            Everything on the page is fictional and only used for educational purposes. Look forward to further updates <i class="fa fa-smile-o"></i>
            <br /><br />
        </p>
        <br />
    </section>
</div>