<div class="main" style="margin-bottom:25vh">
    <div class="container card bg-light">
        <br />
        <!--Header-->
        <h1>Leaderboard</h1>
        <br />
        <!--Input field for searching for users using the search() script-->
        <input type="text" class="form-control" placeholder="Search for User" id="searchbar">
        <!--Displaying all the users using the formatUsers(users) script-->
        <table id='tableSort' class='table table-striped table-bordered'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Amount of Shares</th>
                    <th>Total Value</th>
                </tr>
            </thead>
            <!--For loop to display all users in table, with increasing index to get leaderboard placement-->
            <tbody *ngFor="let user of allUsers; let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.amount}}</td>
                    <td>{{user.value}}$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />