 <!--Main-->
<div class="main" style="margin-bottom:22vh">
    <div class="container bg-dark card text-white" style="text-align:center">
        <br />
        <!--Header-->
        <h1>Create new company</h1>
        <br />
        <!--Form for creating new company-->
        <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Company Name</label>
                <input class="form-control" formControlName="companyName" />
                <p class="alert alert-warning" [hidden]="skjema.controls.companyName.valid || (skjema.controls.companyName.pristine && !submitted)">
                    Company-Name er obligatorisk.
                </p>
            </div>
            <br />
            <!--Sends company to script with function createCompany() when confirm button is pressed-->
            <div class="form-group">
                <button type="submit" style="margin-right:15px" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
                <button class="btn btn-primary" routerLink="/">Tilbake</button>
            </div>
            <!--Error message-->
            <div id="error" style="color: red"></div>
        </form>
    </div>
</div>
<br />