<div class="main" style="margin-bottom:25vh">
    <div class="container">
        <!--Header-->
        <h1> Welcome to your profile: <i id="name" class="text-uppercase">{{user.username}}</i> </h1>
    </div>
    <br />
    <!--Top div containing 2 columns-->
    <div class="container p-3 mb-2 bg-dark card">
        <!--Column 1-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class=" card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class=" row no-gutters align-items-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase">Balance (live): </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <!--Getting the balance from the javascript function formatBalance()-->
                            <p id="balance"><br /> &nbsp;<i class="fa fa-money">&nbsp;</i>{{user.balance}}$  </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Column 2 positioned to the right-->
        <div class="col-xl-3 col-md-6 mb-4" style="position:absolute; right:0;">
            <div class=" card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class=" row no-gutters align-items-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase">Value of all assets:      </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <!--Value retrieved from javascript function totalValue()-->
                            <div id="totalValue">{{totalvalue.value}} $</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

    <br />
    <br />
    <br>

    <!--Div displaying owned stocks (if owned), retrieving from javascript function formatStock() -->
    <div class="container card bg-light">
        <h1>Your funds</h1>
        <div id="ownedstock">
            <table class='table table-striped' id='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody *ngFor="let stock of list">
                    <tr>
                        <td>{{stock.name}}</td>
                        <td>{{stock.amount}}</td>
                        <td>{{stock.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div id="buttons" class="container">
        <!--Two buttons displayed on all users except admin, edit and delete buttons.-->
        <button class="btn btn-primary" style="margin-right:16px" routerLink="/updateuser">Edit User</button>
        <button class="btn btn-warning" style="margin-right:16px" (click)="logOut()">Log Out</button>
        <button class="btn btn-danger" style="margin-right:16px" (click)="deleteUser()">Delete User</button>
        <div id="error"></div>
    </div>
</div>
<br />