 <!--Footer-->
<footer class="page-footer font-small bg-dark text-white pt-2" style="position:absolute;bottom:0px;width:100%">
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--Column 1-->
            <div class="col-md-6 mt-md-1 mt-3">
                <h5 class="text-uppercase font-weight-bold">Contact us</h5>
                <p>
                    <!--Social media icons with links -->
                    <a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fa fa-facebook-square" style="font-size: 30px; padding-left: 10px; padding-right: 10px"></i></a>
                    <a href="https://www.twitter.com" target="_blank" title="Twitter"><i class="fa fa-twitter-square" style="font-size: 30px; padding-left: 10px; padding-right: 10px"></i></a>
                    <a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram" style="font-size: 30px; padding-left: 10px; padding-right: 10px"></i></a>
                    <br />
                </p>
                <h6 class="text-uppercase font-weight">Email: TradeLeague@gmail.com</h6>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">

            <!--Column 2-->
            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase font-weight-bold">About the page:</h5>
                <p>
                    <i class="text-warning">WARNING.</i> This project is exclusively for school and we do not condone gambling in real life. All currency on the page is fictional and does not relate to anything in real life.
                </p>
            </div>
        </div>
    </div>

    <!--Copyright at bottom-->
    <div class="footer-copyright text-center py-1">
        © 2022 Copyright: TradeLeague
    </div>

</footer>